.gle-log-in{
    border-color: white;
    background-color: #0F9D58;
    margin: 2%;
    color: white;
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 5px;
}
.fb-log-in{
    border-color: white;
    background-color: 	#4267B2;
    margin: 2%;
    color: white;
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 5px;
}
.sign-in-heading{
    margin: 0;
}
.shadow{
    box-shadow: 0 0 5px 10px rgb(199, 198, 198);
    padding: 50px 0px;
}
.width-40{
    width: 40%;
    border-radius: 3px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}